.create-customer-container {
    border: 1px solid #9F9C95;
    padding: 10px;
    border-radius: 16px;
    background-color: #fff;

    .create-customer-div-outer {
        border: 1px solid #9F9C95;
        padding: 10px;

        .create-customer-div {
            border: 1px solid #9F9C95;
            margin: 0 auto;

            label,
            .label {
                font-family: $font-secondary;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1px;
            }

            label {
                margin-bottom: 4px;
            }

            input {
                background-color: #fff;
            }

            .error {
                font-family: $font-secondary;
                font-weight: 400;
                color: #631508;
                display: none;
            }

            .avatars {
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
        }
    }
}